* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Vava";
    src: url("ValorantFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(to right, #a7f5ff, #a3e9ff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    background-color: rgb(51, 156, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7e5b30a8;
    text-align: center;
    width: 100%; 
    max-width: 800px; 
}

.nome_principal {
    font-family: "Vava";
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 46px;
    margin: 20px 0;
}

#navegacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#navegacoes li {
    list-style: none;
    padding: 0 10px; 
}

#navegacoes li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: "Vava";
}

#navegacoes li a:hover {
    color: black;
}

.navegacao_ativa {
    color: black !important;
}

.conteudo {
    margin-top: 20px; 
    background-color: rgba(255, 255, 255, 0.884);
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #634622a8;
    width: 100%; 
    max-width: 800px; 
}

.conteudo img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.bemvindo {
    font-family: "Vava";
    text-align: center;
    color: #282a9c;
    margin-bottom: 20px; 
}

.video {
    text-align: center;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.comprar {
    background: green;
    color: white;
    padding: 8px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.descricao {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: green;
}


.card .descricao h4 {
    padding-top: 7px;
    color: #1a1a1a;
    font: 14px;
}

img {
    border-radius: 20px;
}

iframe {
    border-radius: 20px;
}

.produto {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 0 auto 20px auto;
    width: 23%;
    height: fit-content;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 25px;
    margin: 15px 0;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card {
    padding: 5px;
}

.card .descricao span {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.card .descricao h4 {
    padding-top: 7px;
    color: #1a1a1a;
    font: 14px;
}

.descricao h3 {
    padding-bottom: 8px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    flex-wrap: wrap;
}

.fundo-do-rodape {
    background-color: #111111;
    height: 300px;
    width: 100%;
}

.rodape {
    background-color: #000000;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    text-align: center;
}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.rodape-div > div {
    flex: 1; 
    padding: 0 10px; 
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-direitos {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

footer {
    overflow: hidden;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .menu {
        padding: 10px; 
    }

    .nome_principal {
        font-size: 30px;
    }

    #navegacoes {
        flex-direction: column;
        padding: 10px; 
    }

    #navegacoes li {
        padding: 5px 0; 
    }

    #navegacoes li a {
        font-size: 14px;
    }

    .conteudo {
        width: 90%;
    }

    .produto {
        max-width: 90%;
    }
}


@media only screen and (min-width: 601px) and (max-width: 1200px) {
    main {
        max-width: 800px; 
    }

    .menu {
        max-width: 600px; 
    }

    .conteudo {
        max-width: 600px; 
    }

    .produto {
        max-width: 270px; 
    }
}



@media only screen and (min-width: 1201px) {
    main {
        max-width: 1200px; 
    }

    .menu {
        max-width: 800px; 
    }

    .conteudo {
        max-width: 800px; 
    }

    .produto {
        max-width: 300px; 
    }
}

@media only screen and (max-width: 600px) {
    .video iframe {
        max-width: 100%;
        height: 315px; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .video iframe {
        max-width: 400px; 
        height: 315px; 
    }
}


@media only screen and (min-width: 1201px) {
    .video iframe {
        max-width: 800px; 
        height: 315px; 
    }
}
